.container {
  background: #04141c;
  height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 8px;
  background: #001e2b;
  padding: 32px;
}

.content h1 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 40px;
}

.content p {
  width: 212px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-family: Lexend;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.content p span {
  text-decoration-line: underline;
}
