.container {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  background-color: var(--dark-blue);
}

.container img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.links {
  margin-top: 46px;
}

.links a {
  text-decoration: none;
}

.links a svg {
  width: 32px;
  height: 32px;
  fill: var(--white);
  transition: fill 0.3s ease;
  &:hover {
    fill: var(--info);
  }
}

.signOut {
  margin-top: auto;
  width: 32px;
  height: 32px;
  fill: var(--white);
  cursor: pointer;
  transition: fill 0.3s ease;
  &:hover {
    fill: var(--error-hover);
  }
}
