.container {
  background-color: var(--info);
  color: var(--white);
  font-size: 16px;
  height: 36px;
  width: 100%;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:hover {
  background-color: var(--info-hover);
}

.container svg {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
