.container {
  background-color: #016bf8;
  color: #ffffff;
  font-size: 16px;
  height: 36px;
  width: 100%;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:hover {
  background-color: #00357b;
}

.container svg {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
