.app {
  display: flex;
}

.container {
  width: 100%;
  height: 100vh;
  background: var(--black-blue);
}

.content {
  padding: 20px;
  width: 60%;
  border-right: 1px solid var(--light);
  height: calc(100vh - 40px);
}

.content header h1 {
  font-weight: 600;
  font-size: 24px;
  color: var(--white);
  margin-bottom: 14px;
}

.content header span {
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
}

.input {
  display: flex;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 4px;
  height: 36px;
  padding: 0 10px;
  margin-top: 40px;
}

.input input {
  height: 36px;
  width: 100%;
  font-size: 16px;
  color: var(--white);
  font-weight: 400;
  background-color: transparent;
  &::placeholder {
    color: var(--light);
  }
}

.input svg {
  width: 20px;
  height: 20px;
  fill: var(--white);
  cursor: pointer;
  transition: fill 0.3s ease;
  &:hover {
    fill: var(--info);
  }
}

.habits {
  margin-top: 40px;
}

.habit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  border-bottom: 1px solid var(--light);
}

.habit p {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}

.habit div {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.habit div input {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.habit div svg {
  width: 20px;
  height: 20px;
  fill: var(--white);
  cursor: pointer;
  transition: fill 0.3s ease;
  &:hover {
    fill: var(--error);
  }
}
